<div class="container">

    <input type="hidden" name="usuario" id="input-usuario" value="{{usuario}}">
    <input type="hidden" name="sid" id="input-sid" value="{{sid}}">
    <input type="hidden" name="primeiroAcesso" id="input-primeiroAcesso" value="{{primeiroAcesso}}">

    {{!-- Título + Botão --}}
    <div class="container-fluid mt-3">
        <div class="row px-0 py-0">

            <div class="col-sm-10 px-0">
                <h5 class="text-left px-2 py-1 mb-0 border border-dark titulo">BATE-PAPO (@{{usuario}})</h5>
            </div>

            <div class="col-sm-2 px-0">
                <a href="/sair"><button id="btn-sair" class="btn-sair">Sair...</button></a>  
            </div>
        </div>
    </div>

    {{!-- Links --}}
    <div class="container-fluid mt-0">
        <div class="row px-0 py-0">
            <div class="col-sm-12 px-0 border border-dark py-2 text-center area-links">
                <a href="https://github.com/simeaomessias/chatbasico" target="_blank">Repositório no Github</a>
            </div>
        </div>
    </div>

    {{!-- Área de bate-papo --}}
    <div class="container-fluid px-0 py-0 mt-0">
        {{!-- Mensagens --}}
        <div id="div-mensagens" class="div-mensagens">
            {{!-- Aqui serão exibidas os mensagens dos participantes --}}
        </div>
        {{!-- Input + Botão --}}
        <form action="" method="POST" id="form-mensagem" autocomplete="off" class="container-fluid px-0 d-flex flex-column">
            <div class="container-fluid">
                <div class="row px-0 py-0">
                    <div class="col-sm-10 px-0">
                        <input type="text" id="input-novaMensagem" maxlength="100" class="input-mensagem" autofocus>
                    </div>
                    <div class="col-sm-2 px-0">
                        <input type="submit" id="btn-enviar" class="btn-enviar" value="Enviar">
                    </div>
                </div>
            </div>
        </form>
    </div>
    
</div>

<script>

    var usuario = document.getElementById('input-usuario').value.trim()
    var sid = document.getElementById('input-sid').value.trim()
    var primeiroAcesso = document.getElementById('input-primeiroAcesso').value.trim()
    
    var btnSair = document.getElementById('btn-sair')
    var usuarios = document.getElementById('div-usuarios')
    var mensagens = document.getElementById('div-mensagens')
    var form = document.getElementById('form-mensagem')

    // Usuário entrada
    if (primeiroAcesso === "1") {
        socket.emit('usuario-entrada', usuario)
    }
    // Usuário entrou
    socket.on('usuario-entrou', (usuarioAtual) => {
        var novoItem = document.createElement('div')
        novoItem.classList.add('py-1', 'div-usuario-entrou')
        novoItem.innerHTML = `<b>${usuarioAtual}</b> entrou na sala.`
        mensagens.appendChild(novoItem)
    })
    // Usuário saída
    btnSair.addEventListener('click', (e) => {
        socket.emit('usuario-saida', usuario)
    })
    // Usuário saiu
    socket.on('usuario-saiu', (usuarioAtual) => {
        var novoItem = document.createElement('div')
        novoItem.classList.add('py-1', 'div-usuario-saiu')
        novoItem.innerHTML = `<b>${usuarioAtual}</b> saiu da sala.`
        mensagens.appendChild(novoItem)
        mensagens.scrollTop = mensagens.scrollHeight
    })
    // Nova mensagem
    form.addEventListener('submit', (e) => {
        e.preventDefault();
        var novaMensagem = document.getElementById('input-novaMensagem')
        if (novaMensagem.value) {
            socket.emit('nova-mensagem', usuario, sid, novaMensagem.value)
        }
        novaMensagem.value = ""
        novaMensagem.focus()
    })
    // Incluir mensagem
    socket.on('incluir-mensagem', (remetente, id, conteudo, SIDsAtivos) => {
        var novoItem = document.createElement('div')
        if (SIDsAtivos.includes(sid)) {
            if (id === sid) {
                novoItem.classList.add('div-mensagem-enviada')
                novoItem.innerHTML = `${conteudo.trim()}`
            } else {
                novoItem.innerHTML = `<b>${remetente}:</b> ${conteudo}`
            }
            mensagens.appendChild(novoItem)
            mensagens.scrollTop = mensagens.scrollHeight
        }
    })
</script>

