<div class="container">

    <input type="hidden" name="usuario" id="input-usuario" value="{{usuario}}">
    <input type="hidden" name="usuarioNovo" id="input-usuarioNovo" value="{{usuarioNovo}}">
    <input type="hidden" name="capacidadeSala" id="input-capacidadeSala" value="{{capacidadeSala}}">

    {{#if usuarioNovo}}
        <h4 class="text-center mt-4 py-0 mb-0 border border-dark titulo">USUÁRIOS</h4>
        <div class="container-fluid mb-0 border border-dark">
            <div class="row py-0 px-0 div-usuarios" id="div-usuarios"> 
                {{!-- Aqui serão exibidos os participantes do bate-papo --}}
            </div>
        </div>

        <h4 class="text-center mb-0 border border-dark titulo">CONVERSAS</h4>
        <div class="container-fluid px-0 py-0 mt-0">

            {{!-- Área de mensagens --}}
            <div id="div-mensagens" class="div-mensagens">
                {{!-- Aqui serão exibidas os mensagens dos participantes --}}
            </div>

            {{!-- Input + Botão --}}
            <form action="" method="POST" id="form-mensagem" autocomplete="off" class="container-fluid px-0 d-flex flex-column">
                <div class="container-fluid">
                    <div class="row px-0 py-0">
                        <div class="col-sm-10 px-0">
                            <input type="text" id="input-novaMensagem" maxlength="100" class="input-mensagem">
                        </div>
                        <div class="col-sm-2 px-0">
                            <input type="submit" id="" class="btn-enviar" value="Enviar">
                        </div>
                    </div>
                </div>
            </form>

        </div>
    {{/if}}
</div>


<script>

    var usuario = document.getElementById('input-usuario').value
    var usuarioNovo = document.getElementById('input-usuarioNovo').value
    var capacidadeSala = document.getElementById('input-capacidadeSala').value

    if (usuario === "") {
        alert('Sua sessão expirou por inatividade! Entre de novo!')
    }

    var usuarios = document.getElementById('div-usuarios')
    var mensagens = document.getElementById('div-mensagens')
    var form = document.getElementById('form-mensagem')

    // Emissão de nome do novo usuário para o servidor
    if (usuarioNovo === "true") {
        socket.emit('novo-usuario', usuario)
    }

    // Recebimento de entrada de novo usuário do servidor
    socket.on('usuario-entrou', (txt) => {
        var novoItem = document.createElement('div')
        novoItem.innerHTML = `<b>${txt}</b> entrou na sala.`
        mensagens.appendChild(novoItem)
    })

    // Recebimento de lista de usuários para atualização na página
    socket.on('atualiza-usuarios', (lista) => {
        usuarios.innerHTML = ""
        for (let i=0; i<lista.length; i++) {
            var novoUsuario = document.createElement('div')
            novoUsuario.innerHTML = `${lista[i].usuario}`
            usuarios.appendChild(novoUsuario)
        }
    })

    // Emissão de nova mensagem para o servidor
    form.addEventListener('submit', (e) => {
        e.preventDefault();
        var novaMensagem = document.getElementById('input-novaMensagem')
        if (novaMensagem.value) {
            socket.emit('nova-mensagem', usuario, novaMensagem.value)
        }
        novaMensagem.value = ""
        novaMensagem.focus()
    })

    // Recebimento de nova mensagem do servidor
    socket.on('incluir-mensagem', (remetente, conteudo) => {
        var novoItem = document.createElement('div')
        if (remetente === usuario) {    
            novoItem.classList.add('padrao-msg-enviada')
            novoItem.innerHTML = `${conteudo.trim()}`
        } else {
            novoItem.innerHTML = `<b>${remetente}</b> ${conteudo}`
        }
        mensagens.appendChild(novoItem)
    })

    /*
    window.scrollTo(0, document.body.scrollHeight);
    */

</script>
