<div class="border border-dark">

    <div class="container-fluid titulo">
        <h3 class="text-center">Bate-papo</h3>
    </div>

    <form action="/" method="post" id="formAcesso" autocomplete="off" class="container-fluid px-0 d-flex flex-column">

        <div class="d-flex flex-column px-2 mt-1">
            <label for="apelido" style="font-size: 20px;">Digite um apelido e entre na sala</label>
            <input type="text" name="apelido" id="" class="mt-2 px-2 py-2 input" style="font-size: 16px;" autofocus autocomplete="off">
        </div>

        <div class="d-flex flex-column px-2 mt-3 mb-2">
            <input type="submit" id="" class="btn-ok" value="Entrar" style="font-size: 20px;">
        </div>

    </form>

</div>