<div class="border border-dark caixaEntradaNome">

    <div class="container-fluid titulo">
        <h3 class="text-center">Bate-papo</h3>
    </div>

    <form action="/" method="post" id="form-acesso" autocomplete="off" class="container-fluid px-0 d-flex flex-column">

        <div class="d-flex flex-column px-2 mt-1">
            <label for="nome" style="font-size: 20px;">Nome de usuario para a sala</label>
            <input type="text" name="usuario" id="input-usuario" class="mt-2 px-2 py-2 input-usuario" autofocus autocomplete="off">
            <div style="width: 100%; text-align: center; color: red">{{erro}}</div>
        </div>

        <div class="d-flex flex-column px-2 mt-3 mb-2">
            <input type="submit" id="" class="btn-entrar" value="Entrar">
        </div>

    </form>

</div>

<script>

    var form = document.getElementById('form-acesso')
    var usuario = document.getElementById('input-usuario')

    form.addEventListener('submit', (e) => {
        e.preventDefault();
        if (usuario.value) {
            form.submit()    
        }
        usuario.value = ""
    })

</script>