
{{#if msgSucesso}}
    <div class="text-center caixaEntradaNome mb-3" style="background-color: rgb(0,255,0); color: black; padding: 0px;">
        <span>{{msgSucesso}}</span>
    </div>
{{/if}}


{{#if msgErro}}
    <div class="text-center caixaEntradaNome mb-3" style="background-color: rgb(255,0,0); color: black; padding: 0px;">
        <span>{{msgErro}}</span>
    </div>
{{/if}}